@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.cta {
  // base dimensions and properties
  width: 10.6875rem;
  height: 3.5rem;

  border: none;
  border-radius: 1.75rem;

  cursor: pointer;

  // get started style
  &--get-started {
    color: white;
    background-color: $skyBlue;

    &:hover {
      background-color: $ltSkyBlue;
    }
  }

  // try for free style 1
  &--try-for-free {
    color: $skyBlue;
    background-color: color.adjust($skyBlue, $alpha: -0.85);

    &:hover {
      background-color: color.adjust($skyBlue, $alpha: -0.75);
    }
  }

    // try for free style 2 (inverted)
    &--try-for-free-invert {
      color: $skyBlue;
      background-color: white;
  
      &:hover {
        color: $ltSkyBlue;
      }
    }

  // get on the list style
  &--get-on-the-list {
    width: 100%;
    color: white;
    background-color: $skyBlue;

    &:hover {
      background-color: $ltSkyBlue;
    }
  }

  &:active {
    transform: scale(99%, 99%);
  }
}