// _colors.scss

  $skyBlue: hsl(228, 100%, 66%);
  $ltSkyBlue: hsl(228, 100%, 75%);
  $dkGrayishBlue: hsl(228, 22%, 26%);
  $vdkGrayishBlue: hsl(228, 22%, 19%);
  $ltGrayishBlue: hsl(227, 13%, 52%);
  $bodyBG: hsl(0, 0%, 95%);
  $errorRed: hsl(0, 83%, 65%);